*.o
*.a
*.lo
*.la
*.dylib
configure
devil/lib/DevIL.lib
devil/lib/DevIL_DBG.lib
devil/src-IL/msvc/Debug/
devil/src-IL/msvc/Release/
freeimage/Dist/FreeImage.h
freeimage/Dist/FreeImage.lib
freeimage/Dist/FreeImaged.lib
freeimage/Source/FreeImageLib/Debug/
freeimage/Source/FreeImageLib/Release/
freeimage/Source/LibJPEG/Debug/
freeimage/Source/LibJPEG/Release/
freeimage/Source/LibMNG/Debug/
freeimage/Source/LibMNG/Release/
freeimage/Source/LibPNG/Debug/
freeimage/Source/LibPNG/Release/
freeimage/Source/LibTIFF/Debug/
freeimage/Source/LibTIFF/Release/
freeimage/Source/ZLib/Debug/
freeimage/Source/ZLib/Release/
freetype/lib/arch/win32/freetype.obj
freetype/lib/extend/ftxcmap.obj
freetype/lib/extend/ftxerr18.obj
freetype/lib/extend/ftxgasp.obj
freetype/lib/extend/ftxgdef.obj
freetype/lib/extend/ftxgpos.obj
freetype/lib/extend/ftxgsub.obj
freetype/lib/extend/ftxkern.obj
freetype/lib/extend/ftxopen.obj
freetype/lib/extend/ftxpost.obj
freetype/lib/extend/ftxsbit.obj
freetype/lib/extend/ftxwidth.obj
freetype/lib/libttf.lib
freetype/lib/response
glew/build/vc9/static/
glew/lib/
glfw-2.7.2/lib/win32/GLFW.lib
glfw-2.7.2/lib/win32/GLFW_d.lib
glfw-2.7.2/support/msvc90/Debug/
glfw-2.7.2/support/msvc90/Release/
pcre/chartables.c
pcre/config.h
pcre/dftables.exe
pcre/dftables.obj
pcre/get.obj
pcre/maketables.obj
pcre/pcre.obj
pcre/pcreposix.lib
pcre/pcreposix.obj
pcre/study.obj
